body {
  width: 100%;
  margin: auto;
}

.container {
  width: 960px;
  margin: 0 auto;
	}
.container p {
  font-size: 20px;
}

.container h1 {
	text-transform: uppercase;
}

.header {
  background: #474b51;
  width: 100%;
  top:0;
  position:absolute;
  border-style: solid;
  border-width: thin;
  }

  .header img {
    position: absolute;
  }

  .header h1 {
    margin-left: 75px;
  }

.logo {
  float:left;
  font-family: "helvetica";
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
  font-family: "helvetica";
  float: left;
  margin-left: 15px;
  padding-top: 15px;
  font-size: 15px;
}

.nav {
  float: right;
}

a:hover {
  background-color:#303133;
}

.heading {
  font-family: "helvetica";
  text-align: center;
  }

.tophr {
  padding-top: 80px;
}

.ballpic {
  display: block;
  max-width: 320px;
  max-height: 241px;
  margin-right: 10px;
  margin-top: 10px;
}

.ladderheading {
  padding-top: 10px;
  margin: auto 0;
  font-family: "helvetica";
  text-align: center;
  }

#announcementsection {
  max-height: 215px;
  padding-bottom: 150px;
}

#laddersection {
  margin-bottom: 20px;
  max-height: 250px;
}

th {
  background-color:#808080
}

tr:nth-child(even) {background-color: #f2f2f2}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 10px;
}

#ladder {
	display: inline-block;
  margin-left: 110px;
}

.joinnow {
  position: absolute;
  border: thick;
  border-style: solid;
  font-size: 100px;
  font-family: "helvetica";
  margin-top: 200px;
  margin-left: 200px;
  background-color: #6E6E6E
}
